body {
    margin: 20px;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(189, 186, 186, 0.753);
    border-radius: 2px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

#game {
    border: 1px solid #ccc;
    text-align: center;
    margin: auto auto;
    border-radius: 4px;
}

.grid {
    overflow-x: auto;
    overflow-y: auto;
    height: 750px;
}

.cell {
    min-width: 35px;
    min-height: 35px;
    width: 35px;
    height: 35px;
    text-align: center;
    border: 1px solid #ccc;
    cursor: pointer;
}

.cell:hover {
    background-color: rgb(226, 226, 226);
}

.hide {
    display: none;
}

.border {
    border: 1px solid #ccc;
}